.edit-profile-text-container {
  background-color: var(--social-secondary);
  width: 100%;
  height: auto;
}

.user-profile {
  min-width: 80%;
  min-height: 35rem;
  border-radius: 0.375rem;
}

a.portfolio-link {
  color: var(--social-primary);
}

a.portfolio-link:hover {
  color: var(--social-secondary);
}

@media screen and (min-width: 1130px) {
  form.edit-profile-form {
    min-width: 30rem;
  }
  .user-profile {
    width: 80%;
    height: 20rem;
  }
}
