.edit-profile-text-container {
  background-color: var(--social-secondary);
  width: 100%;
  height: auto;
}

.user-profile {
  width: 60%;
  min-width: 90%;
  min-height: 35rem;
}

a.portfolio-link {
  color: var(--social-primary);
}

a.portfolio-link:hover {
  color: var(--social-secondary);
}

@media screen and (min-width: 1200px) {
  form.edit-profile-form {
    min-width: 30rem;
  }
  .user-profile {
    min-width: 20rem;
    height: 20rem;
  }
}
