:root {
  --social-primary: #0dcaf0;
  --social-secondary: #b6effa;
  --grey-box-shadow: #757575;
  --grey-light: #e7dfdf;
  --modal-bg: rgba(0, 0, 0, 0.5);
  --dark-theme-bg: #808080;
  --white-color: #ffffff;
  --black-dark: #000000;
}

.App {
  min-height: 100vh;
}

.App.dark {
  background-color: var(--dark-theme-bg);
  color: var(--white-color);
}

.social-main-content {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px 1fr 290px;
}

.nav-link.link-dark:hover {
  background-color: var(--social-secondary);
}

.nav-link.link-light:hover {
  background-color: var(--grey-box-shadow);
}

p.lead {
  font-weight: 500;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-centre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-row-spacebtw {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn-no-decor {
  background: transparent;
  border: none;
}

.social-header {
  box-shadow: 0px 10px 43px -11px rgba(0, 0, 0, 0.5);
}

.mui-icon {
  margin-right: 1rem;
}

.App.light .nav.nav-pills .nav-link.active {
  background-color: var(--social-secondary);
}

.edit-post-modal-wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  z-index: 2000;
  position: fixed;
}

.edit-post-container .card {
  width: 100%;
}

.edit-post-container button {
  margin-left: auto;
  top: -15px;
  right: -18px;
}

.App.dark .edit-post-container h4 {
  color: var(--black-dark);
}

.edit-post-container {
  background-color: var(--social-secondary);
  width: 60%;
  height: auto;
}

.App.dark a.card.post-card,  .App.dark a.post-user, .App.dark a.link-no-decor, .App.dark div.link-no-decor {
  color: var(--white-color);
  text-decoration: none;
}

.App.light a.card.post-card, .App.light a.post-user, .App.light a.link-no-decor, .App.light div.link-no-decor {
  color: var(--black-dark);
  text-decoration: none;
}

.App.light a.post-user:hover, .App.dark a.post-user:hover, .App.dark a.link-no-decor:hover, .App.light a.link-no-decor:hover, .App.light div.link-no-decor:hover, .App.dark div.link-no-decor:hover {
  color: var(--social-primary);
  transition: 100ms ease-in-out;
}

@media screen and (min-width: 1000px) {
  .nav.nav-pills {
    position: fixed;
    width: 15%;
  }
}

@media screen and (max-width: 1000px) {
  .social-main-content {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
  }
  .edit-post-container {
    width: 90%;
  }
  .logout-btn {
    width: 20%;
    margin: 1rem 0;
  }
  .change-theme-btn {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 80%;
  }
}

@import url(styles/main.css);
